<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>You've recieved a new proposal!</p>
        <p>Click the link below to view </p>
        <p>{{link}}</p>
        <p></p>
    </body>
</html>